* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  background: rgb(252, 249, 246);
}
#logo {
  height: 105px;
  width: 105px;
}
.nav-header {
  padding: 2px;
  height: 100;
  background: rgba(0, 0, 0, 0.89);
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: rgb(248, 246, 244);
  font-size: 18px;
}

nav a {
  color: antiquewhite;
}
.header {
  text-align: center;
  font-size: 30px;
  color: black;
}
main {
  flex-grow: 3;
}
footer {
  margin-top: 450px;
  padding: 15px;
  background: rgba(24, 11, 11, 0.918);
  color: antiquewhite;
  text-align: center;
}
img {
  border-radius: 50px;
  height: 200px;
  width: 200px;
}
.item {
  text-align: center;
  font-family: cursive;
  font-weight: 900;
  font-size: 23px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  height: 400px;
  width: 250;
  align-content: center;
  margin-top: 25px;

  border: 2px solid rgb(146, 31, 31);
}
#carrito {
  color: rgba(238, 234, 234, 0.856);
}
.cart {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 250;
  font-size: 30px;
}
.boton-carritoVacio {
  border-style: hidden;
  width: 140px;
}
#usuario {
  margin-top: 70px;
  margin-left: 150px;
  margin-right: 150px;
  font-family: cursive;
  font-size: 22px;
  display: grid;
  padding: 25px;
}
.btn-confirmar {
  margin-top: 25px;
  padding: 5px;
  margin-left: 500px;
  margin-right: 500px;
}
.btn-finBuy {
  margin-top: 25px;
  padding: 20px;
  color: rgba(7, 3, 2, 0.877);
  justify-content: center;
}

.cart-btn-remove {
  border-style: groove;
  position: relative;
  left: 60px;
  color: rgb(27, 25, 25);
}
.tabla {
  margin: 130px auto;
  width: 600px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
}
.cart-thead {
  border: solid 1px rgb(20, 20, 20);
}
.body {
  margin: 130px auto;
  width: 600px;
  text-align: center;
}
.cart-body {
  border: solid 1px rgb(20, 20, 20);
  text-align: center;
}
.tarjeta {
  margin: 50px auto;
  display: block;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
 
}
.btn-counter {
  margin-left: 15px;
  margin-right: 25px;
}
.category {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  padding: 100px;
}
h2 {
  font-family: cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 25px;
  margin-right: 25px;
}
