* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
 
  
}
#logo{
  height: 105px;
  width: 105px;
}
.nav-header {
  padding: 2px;
  height: 100;
  background-color: rgba(179, 49, 29, 0.993);
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: rgb(248, 246, 244);
  font-size: 18px;
}

nav a {
  color: antiquewhite;
}
.header {
  text-align: center;
  font-size: 30px;
  color: black;
}
footer {
  margin-top: 450px;
  padding: 15px;
  background: rgba(24, 11, 11, 0.918);
  color: antiquewhite;
  text-align: center;
}
img {
  border-radius: 50px;
  height: 200px;
  width: 200px;
}
.comp-main {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font-family: cursive;
  font-weight: 900;
  font-size: 20px;
  
}
#carrito {
  color: rgba(238, 234, 234, 0.856);
}

.item {
  display: grid;
  grid-template-columns: auto;
  padding: 100px;
  justify-content: center;
  height: 400px;
  width: 250;
  align-content: center;
  text-align: center;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 1000px;
  margin-bottom: 60px;
  border: 2px solid rgb(46, 44, 44);
}
#BrowserRouter {
  display: grid;
  grid-template-columns: auto auto;
  
}
.main_category {
  margin-top: 100px;
}
#pho {
  margin-left: 75px;
  margin-right: 55px;
}
